In [27]:
import pandas as pd
import numpy as np
import seaborn as sns
import sklearn as sks
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=6)
from sklearn.svm import SVC
svm=SVC(kernel='linear',gamma=0.7)
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [28]:
df=pd.read_csv('emails.csv')

In [29]:
df

,Email No.,the,to,ect,and,for,of,a,you,hou,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,Email 1,0,0,1,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Email 2,8,13,24,6,6,2,102,1,27,...,0,0,0,0,0,0,0,1,0,0
2,Email 3,0,0,1,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Email 4,0,5,22,0,5,1,51,2,10,...,0,0,0,0,0,0,0,0,0,0
4,Email 5,7,6,17,1,5,2,57,0,9,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5167,Email 5168,2,2,2,3,0,0,32,0,0,...,0,0,0,0,0,0,0,0,0,0
5168,Email 5169,35,27,11,2,6,5,151,4,3,...,0,0,0,0,0,0,0,1,0,0
5169,Email 5170,0,0,1,1,0,0,11,0,0,...,0,0,0,0,0,0,0,0,0,1
5170,Email 5171,2,7,1,0,2,1,28,2,0,...,0,0,0,0,0,0,0,1,0,1
5171,Email 5172,22,24,5,1,6,5,148,8,2,...,0,0,0,0,0,0,0,0,0,0

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5172 entries, 0 to 5171
Columns: 3002 entries, Email No. to Prediction
dtypes: int64(3001), object(1)
memory usage: 118.5+ MB

In [31]:
df.describe()

,the,to,ect,and,for,of,a,you,hou,in,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
count,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,...,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000
mean,6.640565,6.188128,5.143852,3.075599,3.124710,2.627030,55.517401,2.466551,2.024362,10.600155,...,0.005027,0.012568,0.010634,0.098028,0.004254,0.006574,0.004060,0.914733,0.006961,0.290023
std,11.745009,9.534576,14.101142,6.045970,4.680522,6.229845,87.574172,4.314444,6.967878,19.281892,...,0.105788,0.199682,0.116693,0.569532,0.096252,0.138908,0.072145,2.780203,0.098086,0.453817
min,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,12.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.000000,3.000000,1.000000,1.000000,2.000000,1.000000,28.000000,1.000000,0.000000,5.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,8.000000,7.000000,4.000000,3.000000,4.000000,2.000000,62.250000,3.000000,1.000000,12.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
max,210.000000,132.000000,344.000000,89.000000,47.000000,77.000000,1898.000000,70.000000,167.000000,223.000000,...,4.000000,7.000000,2.000000,12.000000,3.000000,4.000000,3.000000,114.000000,4.000000,1.000000

In [32]:
df.columns

Index(['Email No.', 'the', 'to', 'ect', 'and', 'for', 'of', 'a', 'you', 'hou',
       ...
       'connevey', 'jay', 'valued', 'lay', 'infrastructure', 'military',
       'allowing', 'ff', 'dry', 'Prediction'],
      dtype='object', length=3002)

In [33]:
df.isnull().sum()

Email No.     0
the           0
to            0
ect           0
and           0
             ..
military      0
allowing      0
ff            0
dry           0
Prediction    0
Length: 3002, dtype: int64

In [34]:
df['Prediction'].value_counts()

Prediction
0    3672
1    1500
Name: count, dtype: int64

In [35]:
df=df.drop(columns=['Email No.'])

In [36]:
input_features=df.drop(columns="Prediction")
x=input_features
y=df["Prediction"]

In [37]:
y.shape

(5172,)

In [17]:
x.shape

(5172, 3000)

In [18]:
X_train,X_test,y_train,y_test=train_test_split(x,y,random_state=42,test_size=0.2)

In [19]:
X_train

,the,to,ect,and,for,of,a,you,hou,in,...,enhancements,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry
3164,6,4,2,1,2,8,39,5,2,5,...,0,0,0,0,0,0,0,0,1,0
2067,0,0,1,0,1,0,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4717,40,28,4,21,12,12,260,24,4,78,...,0,0,0,0,0,0,0,0,3,0
2505,5,1,1,0,1,1,12,0,0,3,...,0,0,0,0,0,0,0,0,0,0
2268,6,6,3,1,1,0,64,0,1,7,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4426,0,3,2,0,2,0,16,0,0,1,...,0,0,0,0,0,0,0,0,0,0
466,4,5,1,0,5,1,28,1,0,1,...,0,0,0,0,0,0,0,0,0,0
3092,0,0,1,0,1,0,5,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3772,2,11,1,6,4,5,58,10,0,12,...,0,0,0,0,0,0,0,0,3,0
860,3,0,1,1,0,1,11,0,0,2,...,0,0,0,0,0,0,0,0,0,0

In [20]:
X_test

,the,to,ect,and,for,of,a,you,hou,in,...,enhancements,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry
1566,1,1,1,0,1,0,5,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1988,13,20,66,8,10,0,195,4,33,16,...,0,0,0,0,0,0,0,0,0,0
1235,1,14,3,6,2,2,238,0,0,41,...,0,0,1,0,1,0,0,0,5,0
3276,0,0,1,0,1,0,4,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3438,11,6,2,1,5,6,93,3,1,22,...,0,0,0,0,0,0,0,0,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1175,5,3,3,2,3,2,22,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2594,36,25,11,9,9,16,179,4,7,46,...,0,0,0,0,0,0,0,0,3,0
3377,0,0,1,0,1,0,5,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5065,0,1,1,1,0,0,8,1,0,4,...,0,0,0,0,1,0,0,0,0,0
2142,31,18,26,6,18,2,162,6,16,23,...,0,0,0,0,0,0,0,0,0,0

In [22]:
svm.fit(X_train,y_train)
y_pred=svm.predict(X_test)

In [23]:
knn.fit(X_train,y_train)
y_pred2=knn.predict(X_test)

In [25]:
print("SVM Score",accuracy_score(y_test,y_pred))

SVM Score 0.9594202898550724

In [26]:
print("KNN SCore",accuracy_score(y_test,y_pred))

KNN SCore 0.9594202898550724